---
import { Icon } from "astro-icon/components";
---

<aside
	class="w-64 bg-slate-800 border-r border-slate-700 flex-shrink-0 p-2"
>
	<div>
		<Icon name="lucide:search" class="text-slate-400" />
		<input
			id="search"
			type="text"
			placeholder="Search opened games..."
			class="w-full flex-1 bg-transparent py-2 pl-3 focus:outline-none"
		/>
	</div>
</aside>
