@import "tailwindcss";

body {
  background-image: url('/bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

label {
  @apply text-xs font-medium;
}

button {
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1) translateY(-2px);
}

button:active {
  transform: scale(0.95);
}

.lucide {
  stroke-width: 2.5;
}

/* game frames */
#game iframe {
  @apply absolute top-0 left-0 h-full w-full border-none;
}

#opened_games button {
  transform: none !important;
  transition: color 0.2s ease-in-out !important;
}

#opened_games button:hover {
  transform: none !important;
}

#opened_games button:active {
  transform: none !important;
}
