@import "tailwindcss";

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

label {
  @apply text-xs font-medium;
}

button {
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1) translateY(-2px);
}

button:active {
  transform: scale(0.95);
}

[data-icon] {
  stroke-width: 3;
}

/* sidebar item */
aside div {
  @apply bg-slate-900 flex w-full max-w-lg items-center rounded-md px-3 shadow mb-3;
}

/* game frames */
#gme iframe {
  @apply absolute top-0 left-0 h-full w-full border-none;
}

#opened_games button {
  transform: none !important;
  transition: color 0.2s ease-in-out !important;
}

#opened_games button:hover {
  transform: none !important;
}

#opened_games button:active {
  transform: none !important;
}
